openapi: 3.2.0
info:
  version: '2009-04-15'
  x-release: v2
  title: 'Amazon SimpleDB #Action=Batch Put Attributes API'
  description: Amazon SimpleDB is a web service providing the core database functions of data indexing and querying in the cloud.
  x-logo:
    url: https://twitter.com/awscloud/profile_image?size=original
    backgroundColor: '#FFFFFF'
  termsOfService: https://aws.amazon.com/service-terms/
  contact:
    name: Mike Ralphson
    email: mike.ralphson@gmail.com
    url: https://github.com/mermade/aws2openapi
    x-twitter: PermittedSoc
  license:
    name: Apache 2.0 License
    url: http://www.apache.org/licenses/
  x-providerName: amazonaws.com
  x-serviceName: sdb
  x-origin:
  - contentType: application/json
    url: https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/sdb-2009-04-15.normal.json
    converter:
      url: https://github.com/mermade/aws2openapi
      version: 1.0.0
    x-apisguru-driver: external
  x-apiClientRegistration:
    url: https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct
  x-apisguru-categories:
  - cloud
  x-preferred: true
servers:
- url: http://sdb.amazonaws.com
  variables: {}
  description: The general Amazon SimpleDB endpoint for US East (N. Virginia)
- url: https://sdb.amazonaws.com
  variables: {}
  description: The general Amazon SimpleDB endpoint for US East (N. Virginia)
- url: http://sdb.{region}.amazonaws.com
  variables:
    region:
      description: The AWS region
      enum:
      - us-east-2
      - us-west-1
      - us-west-2
      - us-gov-west-1
      - us-gov-east-1
      - ca-central-1
      - eu-north-1
      - eu-west-1
      - eu-west-2
      - eu-west-3
      - eu-central-1
      - eu-south-1
      - af-south-1
      - ap-northeast-1
      - ap-northeast-2
      - ap-northeast-3
      - ap-southeast-1
      - ap-southeast-2
      - ap-east-1
      - ap-south-1
      - sa-east-1
      - me-south-1
      default: us-east-2
  description: The Amazon SimpleDB multi-region endpoint
- url: https://sdb.{region}.amazonaws.com
  variables:
    region:
      description: The AWS region
      enum:
      - us-east-2
      - us-west-1
      - us-west-2
      - us-gov-west-1
      - us-gov-east-1
      - ca-central-1
      - eu-north-1
      - eu-west-1
      - eu-west-2
      - eu-west-3
      - eu-central-1
      - eu-south-1
      - af-south-1
      - ap-northeast-1
      - ap-northeast-2
      - ap-northeast-3
      - ap-southeast-1
      - ap-southeast-2
      - ap-east-1
      - ap-south-1
      - sa-east-1
      - me-south-1
      default: us-east-2
  description: The Amazon SimpleDB multi-region endpoint
- url: http://sdb.{region}.amazonaws.com.cn
  variables:
    region:
      description: The AWS region
      enum:
      - cn-north-1
      - cn-northwest-1
      default: cn-north-1
  description: The Amazon SimpleDB endpoint for China (Beijing) and China (Ningxia)
- url: https://sdb.{region}.amazonaws.com.cn
  variables:
    region:
      description: The AWS region
      enum:
      - cn-north-1
      - cn-northwest-1
      default: cn-north-1
  description: The Amazon SimpleDB endpoint for China (Beijing) and China (Ningxia)
security:
- hmac: []
tags:
- name: '#Action=BatchPutAttributes'
paths:
  /#Action=BatchPutAttributes:
    parameters:
    - $ref: '#/components/parameters/AWSAccessKeyId'
    - $ref: '#/components/parameters/Action'
    - $ref: '#/components/parameters/SignatureMethod'
    - $ref: '#/components/parameters/SignatureVersion'
    - $ref: '#/components/parameters/Timestamp'
    - $ref: '#/components/parameters/Version'
    - $ref: '#/components/parameters/Signature'
    get:
      x-aws-operation-name: BatchPutAttributes
      operationId: GET_BatchPutAttributes
      description: 'The BatchPutAttributes operation creates or replaces attributes within one or more items. By using this operation, the client can perform multiple PutAttribute operation with a single call. This helps yield savings in round trips and latencies, enabling Amazon SimpleDB to optimize requests and generally produce better throughput.


        The client may specify the item name with the Item.X.ItemName parameter. The client may specify new attributes using a combination of the Item.X.Attribute.Y.Name and Item.X.Attribute.Y.Value parameters. The client may specify the first attribute for the first item using the parameters Item.0.Attribute.0.Name and Item.0.Attribute.0.Value, and for the second attribute for the first item by the parameters Item.0.Attribute.1.Name and Item.0.Attribute.1.Value, and so on.


        Attributes are uniquely identified within an item by their name/value combination. For example, a single item can have the attributes { "first_name", "first_value" } and { "first_name", "second_value" }. However, it cannot have two attribute instances where both the Item.X.Attribute.Y.Name and Item.X.Attribute.Y.Value are the same.


        Optionally, the requester can supply the Replace parameter for each individual value. Setting this value to true will cause the new attribute values to replace the existing attribute values. For example, if an item I has the attributes { ''a'', ''1'' }, { ''b'', ''2''} and { ''b'', ''3'' } and the requester does a BatchPutAttributes of {''I'', ''b'', ''4'' } with the Replace parameter set to true, the final attributes of the item will be { ''a'', ''1'' } and { ''b'', ''4'' }, replacing the previous values of the ''b'' attribute with the new value.

        You cannot specify an empty string as an item or as an attribute name. The BatchPutAttributes operation succeeds or fails in its entirety. There are no partial puts. This operation is vulnerable to exceeding the maximum URL size when making a REST request using the HTTP GET method. This operation does not support conditions using Expected.X.Name, Expected.X.Value, or Expected.X.Exists.

        You can execute multiple BatchPutAttributes operations and other operations in parallel. However, large numbers of concurrent BatchPutAttributes calls can result in Service Unavailable (503) responses.


        The following limitations are enforced for this operation:


        256 attribute name-value pairs per item


        1 MB request size


        1 billion attributes per domain


        10 GB of total user data storage per domain


        25 item limit per BatchPutAttributes operation'
      responses:
        '200':
          description: Success
        '400':
          description: NoSuchDomain
          x-aws-exception: true
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/NoSuchDomain'
        '409':
          description: NumberSubmittedAttributesExceeded
          x-aws-exception: true
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/NumberSubmittedAttributesExceeded'
      parameters:
      - name: DomainName
        in: query
        required: true
        description: The name of the domain in which the attributes are being stored.
        schema:
          type: string
      - name: Items
        in: query
        required: true
        description: A list of items on which to perform the operation.
        schema:
          type: array
          items:
            allOf:
            - $ref: '#/components/schemas/ReplaceableItem'
            - xml:
                name: Item
          xml:
            wrapped: false
      - name: Action
        in: query
        required: true
        schema:
          type: string
          enum:
          - BatchPutAttributes
      - name: Version
        in: query
        required: true
        schema:
          type: string
          enum:
          - '2009-04-15'
      summary: Amazon G E T_ Batch Put Attributes
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      tags:
      - '#Action=BatchPutAttributes'
    post:
      x-aws-operation-name: BatchPutAttributes
      operationId: POST_BatchPutAttributes
      description: 'The BatchPutAttributes operation creates or replaces attributes within one or more items. By using this operation, the client can perform multiple PutAttribute operation with a single call. This helps yield savings in round trips and latencies, enabling Amazon SimpleDB to optimize requests and generally produce better throughput.


        The client may specify the item name with the Item.X.ItemName parameter. The client may specify new attributes using a combination of the Item.X.Attribute.Y.Name and Item.X.Attribute.Y.Value parameters. The client may specify the first attribute for the first item using the parameters Item.0.Attribute.0.Name and Item.0.Attribute.0.Value, and for the second attribute for the first item by the parameters Item.0.Attribute.1.Name and Item.0.Attribute.1.Value, and so on.


        Attributes are uniquely identified within an item by their name/value combination. For example, a single item can have the attributes { "first_name", "first_value" } and { "first_name", "second_value" }. However, it cannot have two attribute instances where both the Item.X.Attribute.Y.Name and Item.X.Attribute.Y.Value are the same.


        Optionally, the requester can supply the Replace parameter for each individual value. Setting this value to true will cause the new attribute values to replace the existing attribute values. For example, if an item I has the attributes { ''a'', ''1'' }, { ''b'', ''2''} and { ''b'', ''3'' } and the requester does a BatchPutAttributes of {''I'', ''b'', ''4'' } with the Replace parameter set to true, the final attributes of the item will be { ''a'', ''1'' } and { ''b'', ''4'' }, replacing the previous values of the ''b'' attribute with the new value.

        You cannot specify an empty string as an item or as an attribute name. The BatchPutAttributes operation succeeds or fails in its entirety. There are no partial puts. This operation is vulnerable to exceeding the maximum URL size when making a REST request using the HTTP GET method. This operation does not support conditions using Expected.X.Name, Expected.X.Value, or Expected.X.Exists.

        You can execute multiple BatchPutAttributes operations and other operations in parallel. However, large numbers of concurrent BatchPutAttributes calls can result in Service Unavailable (503) responses.


        The following limitations are enforced for this operation:


        256 attribute name-value pairs per item


        1 MB request size


        1 billion attributes per domain


        10 GB of total user data storage per domain


        25 item limit per BatchPutAttributes operation'
      responses:
        '200':
          description: Success
        '400':
          description: NoSuchDomain
          x-aws-exception: true
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/NoSuchDomain'
        '409':
          description: NumberSubmittedAttributesExceeded
          x-aws-exception: true
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/NumberSubmittedAttributesExceeded'
      requestBody:
        content:
          text/xml:
            schema:
              $ref: '#/components/schemas/BatchPutAttributesRequest'
      parameters:
      - name: Action
        in: query
        required: true
        schema:
          type: string
          enum:
          - BatchPutAttributes
      - name: Version
        in: query
        required: true
        schema:
          type: string
          enum:
          - '2009-04-15'
      summary: Amazon P O S T_ Batch Put Attributes
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      tags:
      - '#Action=BatchPutAttributes'
components:
  schemas:
    NumberSubmittedAttributesExceeded:
      type: object
      properties:
        BoxUsage:
          $ref: '#/components/schemas/Float'
      description: Too many attributes exist in a single call.
    Boolean:
      type: boolean
    ReplaceableAttribute:
      type: object
      required:
      - Name
      - Value
      properties:
        Name:
          allOf:
          - $ref: '#/components/schemas/String'
          - description: The name of the replaceable attribute.
        Value:
          allOf:
          - $ref: '#/components/schemas/String'
          - description: The value of the replaceable attribute.
        Replace:
          allOf:
          - $ref: '#/components/schemas/Boolean'
          - description: A flag specifying whether or not to replace the attribute/value pair or to add a new attribute/value pair. The default setting is <code>false</code>.
      description: ''
    BatchPutAttributesRequest:
      type: object
      required:
      - DomainName
      - Items
      title: BatchPutAttributesRequest
      properties:
        DomainName:
          allOf:
          - $ref: '#/components/schemas/String'
          - description: The name of the domain in which the attributes are being stored.
        Items:
          allOf:
          - $ref: '#/components/schemas/ReplaceableItemList'
          - description: A list of items on which to perform the operation.
    ReplaceableItemList:
      type: array
      items:
        allOf:
        - $ref: '#/components/schemas/ReplaceableItem'
        - xml:
            name: Item
      xml:
        wrapped: false
    NoSuchDomain:
      type: object
      properties:
        BoxUsage:
          $ref: '#/components/schemas/Float'
      description: The specified domain does not exist.
    String:
      type: string
    ReplaceableItem:
      type: object
      required:
      - Name
      - Attributes
      properties:
        Name:
          allOf:
          - $ref: '#/components/schemas/String'
          - xml:
              name: ItemName
            description: The name of the replaceable item.
        Attributes:
          allOf:
          - $ref: '#/components/schemas/ReplaceableAttributeList'
          - description: The list of attributes for a replaceable item.
      description: ''
    ReplaceableAttributeList:
      type: array
      items:
        allOf:
        - $ref: '#/components/schemas/ReplaceableAttribute'
        - xml:
            name: Attribute
      xml:
        wrapped: false
    Float:
      type: number
      format: float
  parameters:
    SignatureVersion:
      name: SignatureVersion
      in: query
      schema:
        type: string
      required: true
    Version:
      name: Version
      in: query
      schema:
        type: string
      required: true
    Timestamp:
      name: Timestamp
      in: query
      schema:
        type: string
      required: true
    Signature:
      name: Signature
      in: query
      schema:
        type: string
      required: true
    SignatureMethod:
      name: SignatureMethod
      in: query
      schema:
        type: string
      required: true
    Action:
      name: Action
      in: query
      schema:
        type: string
      required: true
    AWSAccessKeyId:
      name: AWSAccessKeyId
      in: query
      schema:
        type: string
      required: true
  securitySchemes:
    hmac:
      type: apiKey
      name: Authorization
      in: header
      description: Amazon Signature authorization v2
      x-amazon-apigateway-authtype: awsSigv2
externalDocs:
  description: Amazon Web Services documentation
  url: https://docs.aws.amazon.com/sdb/
x-hasEquivalentPaths: true
