openapi: 3.2.0
info:
  version: '2009-04-15'
  x-release: v2
  title: Amazon SimpleDB API
  description: Amazon SimpleDB is a web service providing the core database functions of data indexing and querying in the cloud.
  x-logo:
    url: https://twitter.com/awscloud/profile_image?size=original
    backgroundColor: '#FFFFFF'
  termsOfService: https://aws.amazon.com/service-terms/
  contact:
    name: Mike Ralphson
    email: mike.ralphson@gmail.com
    url: https://github.com/mermade/aws2openapi
    x-twitter: PermittedSoc
  license:
    name: Apache 2.0 License
    url: http://www.apache.org/licenses/
  x-providerName: amazonaws.com
  x-serviceName: sdb
  x-origin:
  - contentType: application/json
    url: https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/sdb-2009-04-15.normal.json
    converter:
      url: https://github.com/mermade/aws2openapi
      version: 1.0.0
    x-apisguru-driver: external
  x-apiClientRegistration:
    url: https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct
  x-apisguru-categories:
  - cloud
  x-preferred: true
servers:
- url: http://sdb.amazonaws.com
  variables: {}
  description: The general Amazon SimpleDB endpoint for US East (N. Virginia)
- url: https://sdb.amazonaws.com
  variables: {}
  description: The general Amazon SimpleDB endpoint for US East (N. Virginia)
- url: http://sdb.{region}.amazonaws.com
  variables:
    region:
      description: The AWS region
      enum:
      - us-east-2
      - us-west-1
      - us-west-2
      - us-gov-west-1
      - us-gov-east-1
      - ca-central-1
      - eu-north-1
      - eu-west-1
      - eu-west-2
      - eu-west-3
      - eu-central-1
      - eu-south-1
      - af-south-1
      - ap-northeast-1
      - ap-northeast-2
      - ap-northeast-3
      - ap-southeast-1
      - ap-southeast-2
      - ap-east-1
      - ap-south-1
      - sa-east-1
      - me-south-1
      default: us-east-2
  description: The Amazon SimpleDB multi-region endpoint
- url: https://sdb.{region}.amazonaws.com
  variables:
    region:
      description: The AWS region
      enum:
      - us-east-2
      - us-west-1
      - us-west-2
      - us-gov-west-1
      - us-gov-east-1
      - ca-central-1
      - eu-north-1
      - eu-west-1
      - eu-west-2
      - eu-west-3
      - eu-central-1
      - eu-south-1
      - af-south-1
      - ap-northeast-1
      - ap-northeast-2
      - ap-northeast-3
      - ap-southeast-1
      - ap-southeast-2
      - ap-east-1
      - ap-south-1
      - sa-east-1
      - me-south-1
      default: us-east-2
  description: The Amazon SimpleDB multi-region endpoint
- url: http://sdb.{region}.amazonaws.com.cn
  variables:
    region:
      description: The AWS region
      enum:
      - cn-north-1
      - cn-northwest-1
      default: cn-north-1
  description: The Amazon SimpleDB endpoint for China (Beijing) and China (Ningxia)
- url: https://sdb.{region}.amazonaws.com.cn
  variables:
    region:
      description: The AWS region
      enum:
      - cn-north-1
      - cn-northwest-1
      default: cn-north-1
  description: The Amazon SimpleDB endpoint for China (Beijing) and China (Ningxia)
security:
- hmac: []
tags:
- name: Amazon SimpleDB
paths:
  /#Action=BatchDeleteAttributes:
    parameters:
    - $ref: '#/components/parameters/AWSAccessKeyId'
    - $ref: '#/components/parameters/Action'
    - $ref: '#/components/parameters/SignatureMethod'
    - $ref: '#/components/parameters/SignatureVersion'
    - $ref: '#/components/parameters/Timestamp'
    - $ref: '#/components/parameters/Version'
    - $ref: '#/components/parameters/Signature'
    get:
      x-aws-operation-name: BatchDeleteAttributes
      operationId: GET_BatchDeleteAttributes
      description: 'Performs multiple DeleteAttributes operations in a single call, which reduces round trips and latencies. This enables Amazon SimpleDB to optimize requests, which generally yields better throughput.


        If you specify BatchDeleteAttributes without attributes or values, all the attributes for the item are deleted.


        BatchDeleteAttributes is an idempotent operation; running it multiple times on the same item or attribute doesn''t result in an error.


        The BatchDeleteAttributes operation succeeds or fails in its entirety. There are no partial deletes. You can execute multiple BatchDeleteAttributes operations and other operations in parallel. However, large numbers of concurrent BatchDeleteAttributes calls can result in Service Unavailable (503) responses.


        This operation is vulnerable to exceeding the maximum URL size when making a REST request using the HTTP GET method.


        This operation does not support conditions using Expected.X.Name, Expected.X.Value, or Expected.X.Exists.


        The following limitations are enforced for this operation:


        1 MB request size


        25 item limit per BatchDeleteAttributes operation'
      responses:
        '200':
          description: Success
      parameters:
      - name: DomainName
        in: query
        required: true
        description: The name of the domain in which the attributes are being deleted.
        schema:
          type: string
      - name: Items
        in: query
        required: true
        description: A list of items on which to perform the operation.
        schema:
          type: array
          items:
            allOf:
            - $ref: '#/components/schemas/DeletableItem'
            - xml:
                name: Item
          xml:
            wrapped: false
      - name: Action
        in: query
        required: true
        schema:
          type: string
          enum:
          - BatchDeleteAttributes
      - name: Version
        in: query
        required: true
        schema:
          type: string
          enum:
          - '2009-04-15'
      summary: Amazon G E T_ Batch Delete Attributes
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      tags:
      - Amazon SimpleDB
    post:
      x-aws-operation-name: BatchDeleteAttributes
      operationId: POST_BatchDeleteAttributes
      description: 'Performs multiple DeleteAttributes operations in a single call, which reduces round trips and latencies. This enables Amazon SimpleDB to optimize requests, which generally yields better throughput.


        If you specify BatchDeleteAttributes without attributes or values, all the attributes for the item are deleted.


        BatchDeleteAttributes is an idempotent operation; running it multiple times on the same item or attribute doesn''t result in an error.


        The BatchDeleteAttributes operation succeeds or fails in its entirety. There are no partial deletes. You can execute multiple BatchDeleteAttributes operations and other operations in parallel. However, large numbers of concurrent BatchDeleteAttributes calls can result in Service Unavailable (503) responses.


        This operation is vulnerable to exceeding the maximum URL size when making a REST request using the HTTP GET method.


        This operation does not support conditions using Expected.X.Name, Expected.X.Value, or Expected.X.Exists.


        The following limitations are enforced for this operation:


        1 MB request size


        25 item limit per BatchDeleteAttributes operation'
      responses:
        '200':
          description: Success
      requestBody:
        content:
          text/xml:
            schema:
              $ref: '#/components/schemas/BatchDeleteAttributesRequest'
      parameters:
      - name: Action
        in: query
        required: true
        schema:
          type: string
          enum:
          - BatchDeleteAttributes
      - name: Version
        in: query
        required: true
        schema:
          type: string
          enum:
          - '2009-04-15'
      summary: Amazon P O S T_ Batch Delete Attributes
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      tags:
      - Amazon SimpleDB
  /#Action=BatchPutAttributes:
    parameters:
    - $ref: '#/components/parameters/AWSAccessKeyId'
    - $ref: '#/components/parameters/Action'
    - $ref: '#/components/parameters/SignatureMethod'
    - $ref: '#/components/parameters/SignatureVersion'
    - $ref: '#/components/parameters/Timestamp'
    - $ref: '#/components/parameters/Version'
    - $ref: '#/components/parameters/Signature'
    get:
      x-aws-operation-name: BatchPutAttributes
      operationId: GET_BatchPutAttributes
      description: 'The BatchPutAttributes operation creates or replaces attributes within one or more items. By using this operation, the client can perform multiple PutAttribute operation with a single call. This helps yield savings in round trips and latencies, enabling Amazon SimpleDB to optimize requests and generally produce better throughput.


        The client may specify the item name with the Item.X.ItemName parameter. The client may specify new attributes using a combination of the Item.X.Attribute.Y.Name and Item.X.Attribute.Y.Value parameters. The client may specify the first attribute for the first item using the parameters Item.0.Attribute.0.Name and Item.0.Attribute.0.Value, and for the second attribute for the first item by the parameters Item.0.Attribute.1.Name and Item.0.Attribute.1.Value, and so on.


        Attributes are uniquely identified within an item by their name/value combination. For example, a single item can have the attributes { "first_name", "first_value" } and { "first_name", "second_value" }. However, it cannot have two attribute instances where both the Item.X.Attribute.Y.Name and Item.X.Attribute.Y.Value are the same.


        Optionally, the requester can supply the Replace parameter for each individual value. Setting this value to true will cause the new attribute values to replace the existing attribute values. For example, if an item I has the attributes { ''a'', ''1'' }, { ''b'', ''2''} and { ''b'', ''3'' } and the requester does a BatchPutAttributes of {''I'', ''b'', ''4'' } with the Replace parameter set to true, the final attributes of the item will be { ''a'', ''1'' } and { ''b'', ''4'' }, replacing the previous values of the ''b'' attribute with the new value.

        You cannot specify an empty string as an item or as an attribute name. The BatchPutAttributes operation succeeds or fails in its entirety. There are no partial puts. This operation is vulnerable to exceeding the maximum URL size when making a REST request using the HTTP GET method. This operation does not support conditions using Expected.X.Name, Expected.X.Value, or Expected.X.Exists.

        You can execute multiple BatchPutAttributes operations and other operations in parallel. However, large numbers of concurrent BatchPutAttributes calls can result in Service Unavailable (503) responses.


        The following limitations are enforced for this operation:


        256 attribute name-value pairs per item


        1 MB request size


        1 billion attributes per domain


        10 GB of total user data storage per domain


        25 item limit per BatchPutAttributes operation'
      responses:
        '200':
          description: Success
        '400':
          description: NoSuchDomain
          x-aws-exception: true
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/NoSuchDomain'
        '409':
          description: NumberSubmittedAttributesExceeded
          x-aws-exception: true
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/NumberSubmittedAttributesExceeded'
      parameters:
      - name: DomainName
        in: query
        required: true
        description: The name of the domain in which the attributes are being stored.
        schema:
          type: string
      - name: Items
        in: query
        required: true
        description: A list of items on which to perform the operation.
        schema:
          type: array
          items:
            allOf:
            - $ref: '#/components/schemas/ReplaceableItem'
            - xml:
                name: Item
          xml:
            wrapped: false
      - name: Action
        in: query
        required: true
        schema:
          type: string
          enum:
          - BatchPutAttributes
      - name: Version
        in: query
        required: true
        schema:
          type: string
          enum:
          - '2009-04-15'
      summary: Amazon G E T_ Batch Put Attributes
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      tags:
      - Amazon SimpleDB
    post:
      x-aws-operation-name: BatchPutAttributes
      operationId: POST_BatchPutAttributes
      description: 'The BatchPutAttributes operation creates or replaces attributes within one or more items. By using this operation, the client can perform multiple PutAttribute operation with a single call. This helps yield savings in round trips and latencies, enabling Amazon SimpleDB to optimize requests and generally produce better throughput.


        The client may specify the item name with the Item.X.ItemName parameter. The client may specify new attributes using a combination of the Item.X.Attribute.Y.Name and Item.X.Attribute.Y.Value parameters. The client may specify the first attribute for the first item using the parameters Item.0.Attribute.0.Name and Item.0.Attribute.0.Value, and for the second attribute for the first item by the parameters Item.0.Attribute.1.Name and Item.0.Attribute.1.Value, and so on.


        Attributes are uniquely identified within an item by their name/value combination. For example, a single item can have the attributes { "first_name", "first_value" } and { "first_name", "second_value" }. However, it cannot have two attribute instances where both the Item.X.Attribute.Y.Name and Item.X.Attribute.Y.Value are the same.


        Optionally, the requester can supply the Replace parameter for each individual value. Setting this value to true will cause the new attribute values to replace the existing attribute values. For example, if an item I has the attributes { ''a'', ''1'' }, { ''b'', ''2''} and { ''b'', ''3'' } and the requester does a BatchPutAttributes of {''I'', ''b'', ''4'' } with the Replace parameter set to true, the final attributes of the item will be { ''a'', ''1'' } and { ''b'', ''4'' }, replacing the previous values of the ''b'' attribute with the new value.

        You cannot specify an empty string as an item or as an attribute name. The BatchPutAttributes operation succeeds or fails in its entirety. There are no partial puts. This operation is vulnerable to exceeding the maximum URL size when making a REST request using the HTTP GET method. This operation does not support conditions using Expected.X.Name, Expected.X.Value, or Expected.X.Exists.

        You can execute multiple BatchPutAttributes operations and other operations in parallel. However, large numbers of concurrent BatchPutAttributes calls can result in Service Unavailable (503) responses.


        The following limitations are enforced for this operation:


        256 attribute name-value pairs per item


        1 MB request size


        1 billion attributes per domain


        10 GB of total user data storage per domain


        25 item limit per BatchPutAttributes operation'
      responses:
        '200':
          description: Success
        '400':
          description: NoSuchDomain
          x-aws-exception: true
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/NoSuchDomain'
        '409':
          description: NumberSubmittedAttributesExceeded
          x-aws-exception: true
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/NumberSubmittedAttributesExceeded'
      requestBody:
        content:
          text/xml:
            schema:
              $ref: '#/components/schemas/BatchPutAttributesRequest'
      parameters:
      - name: Action
        in: query
        required: true
        schema:
          type: string
          enum:
          - BatchPutAttributes
      - name: Version
        in: query
        required: true
        schema:
          type: string
          enum:
          - '2009-04-15'
      summary: Amazon P O S T_ Batch Put Attributes
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      tags:
      - Amazon SimpleDB
  /#Action=CreateDomain:
    parameters:
    - $ref: '#/components/parameters/AWSAccessKeyId'
    - $ref: '#/components/parameters/Action'
    - $ref: '#/components/parameters/SignatureMethod'
    - $ref: '#/components/parameters/SignatureVersion'
    - $ref: '#/components/parameters/Timestamp'
    - $ref: '#/components/parameters/Version'
    - $ref: '#/components/parameters/Signature'
    get:
      x-aws-operation-name: CreateDomain
      operationId: GET_CreateDomain
      description: 'The CreateDomain operation creates a new domain. The domain name should be unique among the domains associated with the Access Key ID provided in the request. The CreateDomain operation may take 10 or more seconds to complete.

        CreateDomain is an idempotent operation; running it multiple times using the same domain name will not result in an error response.

        The client can create up to 100 domains per account.


        If the client requires additional domains, go to http://aws.amazon.com/contact-us/simpledb-limit-request/.'
      responses:
        '200':
          description: Success
        '400':
          description: MissingParameter
          x-aws-exception: true
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/MissingParameter'
        '409':
          description: NumberDomainsExceeded
          x-aws-exception: true
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/NumberDomainsExceeded'
      parameters:
      - name: DomainName
        in: query
        required: true
        description: 'The name of the domain to create. The name can range between 3 and 255 characters and can contain the following characters: a-z, A-Z, 0-9, ''_'', ''-'', and ''.''.'
        schema:
          type: string
      - name: Action
        in: query
        required: true
        schema:
          type: string
          enum:
          - CreateDomain
      - name: Version
        in: query
        required: true
        schema:
          type: string
          enum:
          - '2009-04-15'
      summary: Amazon G E T_ Create Domain
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      tags:
      - Amazon SimpleDB
    post:
      x-aws-operation-name: CreateDomain
      operationId: POST_CreateDomain
      description: 'The CreateDomain operation creates a new domain. The domain name should be unique among the domains associated with the Access Key ID provided in the request. The CreateDomain operation may take 10 or more seconds to complete.

        CreateDomain is an idempotent operation; running it multiple times using the same domain name will not result in an error response.

        The client can create up to 100 domains per account.


        If the client requires additional domains, go to http://aws.amazon.com/contact-us/simpledb-limit-request/.'
      responses:
        '200':
          description: Success
        '400':
          description: MissingParameter
          x-aws-exception: true
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/MissingParameter'
        '409':
          description: NumberDomainsExceeded
          x-aws-exception: true
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/NumberDomainsExceeded'
      requestBody:
        content:
          text/xml:
            schema:
              $ref: '#/components/schemas/CreateDomainRequest'
      parameters:
      - name: Action
        in: query
        required: true
        schema:
          type: string
          enum:
          - CreateDomain
      - name: Version
        in: query
        required: true
        schema:
          type: string
          enum:
          - '2009-04-15'
      summary: Amazon P O S T_ Create Domain
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      tags:
      - Amazon SimpleDB
  /#Action=DeleteAttributes:
    parameters:
    - $ref: '#/components/parameters/AWSAccessKeyId'
    - $ref: '#/components/parameters/Action'
    - $ref: '#/components/parameters/SignatureMethod'
    - $ref: '#/components/parameters/SignatureVersion'
    - $ref: '#/components/parameters/Timestamp'
    - $ref: '#/components/parameters/Version'
    - $ref: '#/components/parameters/Signature'
    get:
      x-aws-operation-name: DeleteAttributes
      operationId: GET_DeleteAttributes
      description: 'Deletes one or more attributes associated with an item. If all attributes of the item are deleted, the item is deleted.

        If DeleteAttributes is called without being passed any attributes or values specified, all the attributes for the item are deleted.

        DeleteAttributes is an idempotent operation; running it multiple times on the same item or attribute does not result in an error response.


        Because Amazon SimpleDB makes multiple copies of item data and uses an eventual consistency update model, performing a GetAttributes or Select operation (read) immediately after a DeleteAttributes or PutAttributes operation (write) might not return updated item data.'
      responses:
        '200':
          description: Success
        '400':
          description: NoSuchDomain
          x-aws-exception: true
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/NoSuchDomain'
        '404':
          description: AttributeDoesNotExist
          x-aws-exception: true
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/AttributeDoesNotExist'
      parameters:
      - name: DomainName
        in: query
        required: true
        description: The name of the domain in which to perform the operation.
        schema:
          type: string
      - name: ItemName
        in: query
        required: true
        description: The name of the item. Similar to rows on a spreadsheet, items represent individual objects that contain one or more value-attribute pairs.
        schema:
          type: string
      - name: Attributes
        in: query
        required: false
        description: A list of Attributes. Similar to columns on a spreadsheet, attributes represent categories of data that can be assigned to items.
        schema:
          type: array
          items:
            allOf:
            - $ref: '#/components/schemas/DeletableAttribute'
            - xml:
                name: Attribute
          xml:
            wrapped: false
      - name: Expected
        in: query
        required: false
        description: The update condition which, if specified, determines whether the specified attributes will be deleted or not. The update condition must be satisfied in order for this request to be processed and the attributes to be deleted.
        schema:
          type: object
          properties:
            Name:
              allOf:
              - $ref: '#/components/schemas/String'
              - description: The name of the attribute involved in the condition.
            Value:
              allOf:
              - $ref: '#/components/schemas/String'
              - description: The value of an attribute. This value can only be specified when the <code>Exists</code> parameter is equal to <code>true</code>.
            Exists:
              allOf:
              - $ref: '#/components/schemas/Boolean'
              - description: A value specifying whether or not the specified attribute must exist with the specified value in order for the update condition to be satisfied. Specify <code>true</code> if the attribute must exist for the update condition to be satisfied. Specify <code>false</code> if the attribute should not exist in order for the update condition to be satisfied.
          description: ' Specifies the conditions under which data should be updated. If an update condition is specified for a request, the data will only be updated if the condition is satisfied. For example, if an attribute with a specific name and value exists, or if a specific attribute doesn''t exist. '
      - name: Action
        in: query
        required: true
        schema:
          type: string
          enum:
          - DeleteAttributes
      - name: Version
        in: query
        required: true
        schema:
          type: string
          enum:
          - '2009-04-15'
      summary: Amazon G E T_ Delete Attributes
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      tags:
      - Amazon SimpleDB
    post:
      x-aws-operation-name: DeleteAttributes
      operationId: POST_DeleteAttributes
      description: 'Deletes one or more attributes associated with an item. If all attributes of the item are deleted, the item is deleted.

        If DeleteAttributes is called without being passed any attributes or values specified, all the attributes for the item are deleted.

        DeleteAttributes is an idempotent operation; running it multiple times on the same item or attribute does not result in an error response.


        Because Amazon SimpleDB makes multiple copies of item data and uses an eventual consistency update model, performing a GetAttributes or Select operation (read) immediately after a DeleteAttributes or PutAttributes operation (write) might not return updated item data.'
      responses:
        '200':
          description: Success
        '400':
          description: NoSuchDomain
          x-aws-exception: true
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/NoSuchDomain'
        '404':
          description: AttributeDoesNotExist
          x-aws-exception: true
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/AttributeDoesNotExist'
      requestBody:
        content:
          text/xml:
            schema:
              $ref: '#/components/schemas/DeleteAttributesRequest'
      parameters:
      - name: Action
        in: query
        required: true
        schema:
          type: string
          enum:
          - DeleteAttributes
      - name: Version
        in: query
        required: true
        schema:
          type: string
          enum:
          - '2009-04-15'
      summary: Amazon P O S T_ Delete Attributes
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      tags:
      - Amazon SimpleDB
  /#Action=DeleteDomain:
    parameters:
    - $ref: '#/components/parameters/AWSAccessKeyId'
    - $ref: '#/components/parameters/Action'
    - $ref: '#/components/parameters/SignatureMethod'
    - $ref: '#/components/parameters/SignatureVersion'
    - $ref: '#/components/parameters/Timestamp'
    - $ref: '#/components/parameters/Version'
    - $ref: '#/components/parameters/Signature'
    get:
      x-aws-operation-name: DeleteDomain
      operationId: GET_DeleteDomain
      description: 'The DeleteDomain operation deletes a domain. Any items (and their attributes) in the domain are deleted as well. The DeleteDomain operation might take 10 or more seconds to complete.

        Running DeleteDomain on a domain that does not exist or running the function multiple times using the same domain name will not result in an error response.'
      responses:
        '200':
          description: Success
        '400':
          description: MissingParameter
          x-aws-exception: true
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/MissingParameter'
      parameters:
      - name: DomainName
        in: query
        required: true
        description: The name of the domain to delete.
        schema:
          type: string
      - name: Action
        in: query
        required: true
        schema:
          type: string
          enum:
          - DeleteDomain
      - name: Version
        in: query
        required: true
        schema:
          type: string
          enum:
          - '2009-04-15'
      summary: Amazon G E T_ Delete Domain
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      tags:
      - Amazon SimpleDB
    post:
      x-aws-operation-name: DeleteDomain
      operationId: POST_DeleteDomain
      description: 'The DeleteDomain operation deletes a domain. Any items (and their attributes) in the domain are deleted as well. The DeleteDomain operation might take 10 or more seconds to complete.

        Running DeleteDomain on a domain that does not exist or running the function multiple times using the same domain name will not result in an error response.'
      responses:
        '200':
          description: Success
        '400':
          description: MissingParameter
          x-aws-exception: true
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/MissingParameter'
      requestBody:
        content:
          text/xml:
            schema:
              $ref: '#/components/schemas/DeleteDomainRequest'
      parameters:
      - name: Action
        in: query
        required: true
        schema:
          type: string
          enum:
          - DeleteDomain
      - name: Version
        in: query
        required: true
        schema:
          type: string
          enum:
          - '2009-04-15'
      summary: Amazon P O S T_ Delete Domain
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      tags:
      - Amazon SimpleDB
  /#Action=DomainMetadata:
    parameters:
    - $ref: '#/components/parameters/AWSAccessKeyId'
    - $ref: '#/components/parameters/Action'
    - $ref: '#/components/parameters/SignatureMethod'
    - $ref: '#/components/parameters/SignatureVersion'
    - $ref: '#/components/parameters/Timestamp'
    - $ref: '#/components/parameters/Version'
    - $ref: '#/components/parameters/Signature'
    get:
      x-aws-operation-name: DomainMetadata
      operationId: GET_DomainMetadata
      description: Returns information about the domain, including when the domain was created, the number of items and attributes in the domain, and the size of the attribute names and values.
      responses:
        '200':
          description: Success
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/DomainMetadataResult'
        '400':
          description: NoSuchDomain
          x-aws-exception: true
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/NoSuchDomain'
      parameters:
      - name: DomainName
        in: query
        required: true
        description: The name of the domain for which to display the metadata of.
        schema:
          type: string
      - name: Action
        in: query
        required: true
        schema:
          type: string
          enum:
          - DomainMetadata
      - name: Version
        in: query
        required: true
        schema:
          type: string
          enum:
          - '2009-04-15'
      summary: Amazon G E T_ Domain Metadata
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      tags:
      - Amazon SimpleDB
    post:
      x-aws-operation-name: DomainMetadata
      operationId: POST_DomainMetadata
      description: Returns information about the domain, including when the domain was created, the number of items and attributes in the domain, and the size of the attribute names and values.
      responses:
        '200':
          description: Success
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/DomainMetadataResult'
        '400':
          description: NoSuchDomain
          x-aws-exception: true
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/NoSuchDomain'
      requestBody:
        content:
          text/xml:
            schema:
              $ref: '#/components/schemas/DomainMetadataRequest'
      parameters:
      - name: Action
        in: query
        required: true
        schema:
          type: string
          enum:
          - DomainMetadata
      - name: Version
        in: query
        required: true
        schema:
          type: string
          enum:
          - '2009-04-15'
      summary: Amazon P O S T_ Domain Metadata
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      tags:
      - Amazon SimpleDB
  /#Action=GetAttributes:
    parameters:
    - $ref: '#/components/parameters/AWSAccessKeyId'
    - $ref: '#/components/parameters/Action'
    - $ref: '#/components/parameters/SignatureMethod'
    - $ref: '#/components/parameters/SignatureVersion'
    - $ref: '#/components/parameters/Timestamp'
    - $ref: '#/components/parameters/Version'
    - $ref: '#/components/parameters/Signature'
    get:
      x-aws-operation-name: GetAttributes
      operationId: GET_GetAttributes
      description: 'Returns all of the attributes associated with the specified item. Optionally, the attributes returned can be limited to one or more attributes by specifying an attribute name parameter.


        If the item does not exist on the replica that was accessed for this operation, an empty set is returned. The system does not return an error as it cannot guarantee the item does not exist on other replicas.

        If GetAttributes is called without being passed any attribute names, all the attributes for the item are returned.'
      responses:
        '200':
          description: Success
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/GetAttributesResult'
        '400':
          description: NoSuchDomain
          x-aws-exception: true
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/NoSuchDomain'
      parameters:
      - name: DomainName
        in: query
        required: true
        description: The name of the domain in which to perform the operation.
        schema:
          type: string
      - name: ItemName
        in: query
        required: true
        description: The name of the item.
        schema:
          type: string
      - name: AttributeNames
        in: query
        required: false
        description: The names of the attributes.
        schema:
          type: array
          items:
            allOf:
            - $ref: '#/components/schemas/String'
            - xml:
                name: AttributeName
          xml:
            wrapped: false
      - name: ConsistentRead
        in: query
        required: false
        description: Determines whether or not strong consistency should be enforced when data is read from SimpleDB. If <code>true</code>, any data previously written to SimpleDB will be returned. Otherwise, results will be consistent eventually, and the client may not see data that was written immediately before your read.
        schema:
          type: boolean
      - name: Action
        in: query
        required: true
        schema:
          type: string
          enum:
          - GetAttributes
      - name: Version
        in: query
        required: true
        schema:
          type: string
          enum:
          - '2009-04-15'
      summary: Amazon G E T_ Get Attributes
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      tags:
      - Amazon SimpleDB
    post:
      x-aws-operation-name: GetAttributes
      operationId: POST_GetAttributes
      description: 'Returns all of the attributes associated with the specified item. Optionally, the attributes returned can be limited to one or more attributes by specifying an attribute name parameter.


        If the item does not exist on the replica that was accessed for this operation, an empty set is returned. The system does not return an error as it cannot guarantee the item does not exist on other replicas.

        If GetAttributes is called without being passed any attribute names, all the attributes for the item are returned.'
      responses:
        '200':
          description: Success
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/GetAttributesResult'
        '400':
          description: NoSuchDomain
          x-aws-exception: true
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/NoSuchDomain'
      requestBody:
        content:
          text/xml:
            schema:
              $ref: '#/components/schemas/GetAttributesRequest'
      parameters:
      - name: Action
        in: query
        required: true
        schema:
          type: string
          enum:
          - GetAttributes
      - name: Version
        in: query
        required: true
        schema:
          type: string
          enum:
          - '2009-04-15'
      summary: Amazon P O S T_ Get Attributes
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      tags:
      - Amazon SimpleDB
  /#Action=ListDomains:
    parameters:
    - $ref: '#/components/parameters/AWSAccessKeyId'
    - $ref: '#/components/parameters/Action'
    - $ref: '#/components/parameters/SignatureMethod'
    - $ref: '#/components/parameters/SignatureVersion'
    - $ref: '#/components/parameters/Timestamp'
    - $ref: '#/components/parameters/Version'
    - $ref: '#/components/parameters/Signature'
    get:
      x-aws-operation-name: ListDomains
      operationId: GET_ListDomains
      description: The ListDomains operation lists all domains associated with the Access Key ID. It returns domain names up to the limit set by MaxNumberOfDomains. A NextToken is returned if there are more than MaxNumberOfDomains domains. Calling ListDomains successive times with the NextToken provided by the operation returns up to MaxNumberOfDomains more domain names with each successive operation call.
      responses:
        '200':
          description: Success
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/ListDomainsResult'
        '400':
          description: InvalidNextToken
          x-aws-exception: true
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/InvalidNextToken'
      parameters:
      - name: MaxNumberOfDomains
        in: query
        required: false
        description: The maximum number of domain names you want returned. The range is 1 to 100. The default setting is 100.
        schema:
          type: integer
      - name: NextToken
        in: query
        required: false
        description: A string informing Amazon SimpleDB where to start the next list of domain names.
        schema:
          type: string
      - name: Action
        in: query
        required: true
        schema:
          type: string
          enum:
          - ListDomains
      - name: Version
        in: query
        required: true
        schema:
          type: string
          enum:
          - '2009-04-15'
      summary: Amazon G E T_ List Domains
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      tags:
      - Amazon SimpleDB
    post:
      x-aws-operation-name: ListDomains
      operationId: POST_ListDomains
      description: The ListDomains operation lists all domains associated with the Access Key ID. It returns domain names up to the limit set by MaxNumberOfDomains. A NextToken is returned if there are more than MaxNumberOfDomains domains. Calling ListDomains successive times with the NextToken provided by the operation returns up to MaxNumberOfDomains more domain names with each successive operation call.
      responses:
        '200':
          description: Success
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/ListDomainsResult'
        '400':
          description: InvalidNextToken
          x-aws-exception: true
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/InvalidNextToken'
      requestBody:
        content:
          text/xml:
            schema:
              $ref: '#/components/schemas/ListDomainsRequest'
      parameters:
      - name: MaxNumberOfDomains
        in: query
        schema:
          type: string
        description: Pagination limit
        required: false
      - name: NextToken
        in: query
        schema:
          type: string
        description: Pagination token
        required: false
      - name: Action
        in: query
        required: true
        schema:
          type: string
          enum:
          - ListDomains
      - name: Version
        in: query
        required: true
        schema:
          type: string
          enum:
          - '2009-04-15'
      summary: Amazon P O S T_ List Domains
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      tags:
      - Amazon SimpleDB
  /#Action=PutAttributes:
    parameters:
    - $ref: '#/components/parameters/AWSAccessKeyId'
    - $ref: '#/components/parameters/Action'
    - $ref: '#/components/parameters/SignatureMethod'
    - $ref: '#/components/parameters/SignatureVersion'
    - $ref: '#/components/parameters/Timestamp'
    - $ref: '#/components/parameters/Version'
    - $ref: '#/components/parameters/Signature'
    get:
      x-aws-operation-name: PutAttributes
      operationId: GET_PutAttributes
      description: 'The PutAttributes operation creates or replaces attributes in an item. The client may specify new attributes using a combination of the Attribute.X.Name and Attribute.X.Value parameters. The client specifies the first attribute by the parameters Attribute.0.Name and Attribute.0.Value, the second attribute by the parameters Attribute.1.Name and Attribute.1.Value, and so on.


        Attributes are uniquely identified in an item by their name/value combination. For example, a single item can have the attributes { "first_name", "first_value" } and { "first_name", second_value" }. However, it cannot have two attribute instances where both the Attribute.X.Name and Attribute.X.Value are the same.


        Optionally, the requestor can supply the Replace parameter for each individual attribute. Setting this value to true causes the new attribute value to replace the existing attribute value(s). For example, if an item has the attributes { ''a'', ''1'' }, { ''b'', ''2''} and { ''b'', ''3'' } and the requestor calls PutAttributes using the attributes { ''b'', ''4'' } with the Replace parameter set to true, the final attributes of the item are changed to { ''a'', ''1'' } and { ''b'', ''4'' }, which replaces the previous values of the ''b'' attribute with the new value.

        Using PutAttributes to replace attribute values that do not exist will not result in an error response.

        You cannot specify an empty string as an attribute name.


        Because Amazon SimpleDB makes multiple copies of client data and uses an eventual consistency update model, an immediate GetAttributes or Select operation (read) immediately after a PutAttributes or DeleteAttributes operation (write) might not return the updated data.


        The following limitations are enforced for this operation:


        256 total attribute name-value pairs per item


        One billion attributes per domain


        10 GB of total user data storage per domain'
      responses:
        '200':
          description: Success
        '400':
          description: NoSuchDomain
          x-aws-exception: true
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/NoSuchDomain'
        '404':
          description: AttributeDoesNotExist
          x-aws-exception: true
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/AttributeDoesNotExist'
        '409':
          description: NumberItemAttributesExceeded
          x-aws-exception: true
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/NumberItemAttributesExceeded'
      parameters:
      - name: DomainName
        in: query
        required: true
        description: The name of the domain in which to perform the operation.
        schema:
          type: string
      - name: ItemName
        in: query
        required: true
        description: The name of the item.
        schema:
          type: string
      - name: Attributes
        in: query
        required: true
        description: The list of attributes.
        schema:
          type: array
          items:
            allOf:
            - $ref: '#/components/schemas/ReplaceableAttribute'
            - xml:
                name: Attribute
          xml:
            wrapped: false
      - name: Expected
        in: query
        required: false
        description: The update condition which, if specified, determines whether the specified attributes will be updated or not. The update condition must be satisfied in order for this request to be processed and the attributes to be updated.
        schema:
          type: object
          properties:
            Name:
              allOf:
              - $ref: '#/components/schemas/String'
              - description: The name of the attribute involved in the condition.
            Value:
              allOf:
              - $ref: '#/components/schemas/String'
              - description: The value of an attribute. This value can only be specified when the <code>Exists</code> parameter is equal to <code>true</code>.
            Exists:
              allOf:
              - $ref: '#/components/schemas/Boolean'
              - description: A value specifying whether or not the specified attribute must exist with the specified value in order for the update condition to be satisfied. Specify <code>true</code> if the attribute must exist for the update condition to be satisfied. Specify <code>false</code> if the attribute should not exist in order for the update condition to be satisfied.
          description: ' Specifies the conditions under which data should be updated. If an update condition is specified for a request, the data will only be updated if the condition is satisfied. For example, if an attribute with a specific name and value exists, or if a specific attribute doesn''t exist. '
      - name: Action
        in: query
        required: true
        schema:
          type: string
          enum:
          - PutAttributes
      - name: Version
        in: query
        required: true
        schema:
          type: string
          enum:
          - '2009-04-15'
      summary: Amazon G E T_ Put Attributes
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      tags:
      - Amazon SimpleDB
    post:
      x-aws-operation-name: PutAttributes
      operationId: POST_PutAttributes
      description: 'The PutAttributes operation creates or replaces attributes in an item. The client may specify new attributes using a combination of the Attribute.X.Name and Attribute.X.Value parameters. The client specifies the first attribute by the parameters Attribute.0.Name and Attribute.0.Value, the second attribute by the parameters Attribute.1.Name and Attribute.1.Value, and so on.


        Attributes are uniquely identified in an item by their name/value combination. For example, a single item can have the attributes { "first_name", "first_value" } and { "first_name", second_value" }. However, it cannot have two attribute instances where both the Attribute.X.Name and Attribute.X.Value are the same.


        Optionally, the requestor can supply the Replace parameter for each individual attribute. Setting this value to true causes the new attribute value to replace the existing attribute value(s). For example, if an item has the attributes { ''a'', ''1'' }, { ''b'', ''2''} and { ''b'', ''3'' } and the requestor calls PutAttributes using the attributes { ''b'', ''4'' } with the Replace parameter set to true, the final attributes of the item are changed to { ''a'', ''1'' } and { ''b'', ''4'' }, which replaces the previous values of the ''b'' attribute with the new value.

        Using PutAttributes to replace attribute values that do not exist will not result in an error response.

        You cannot specify an empty string as an attribute name.


        Because Amazon SimpleDB makes multiple copies of client data and uses an eventual consistency update model, an immediate GetAttributes or Select operation (read) immediately after a PutAttributes or DeleteAttributes operation (write) might not return the updated data.


        The following limitations are enforced for this operation:


        256 total attribute name-value pairs per item


        One billion attributes per domain


        10 GB of total user data storage per domain'
      responses:
        '200':
          description: Success
        '400':
          description: NoSuchDomain
          x-aws-exception: true
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/NoSuchDomain'
        '404':
          description: AttributeDoesNotExist
          x-aws-exception: true
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/AttributeDoesNotExist'
        '409':
          description: NumberItemAttributesExceeded
          x-aws-exception: true
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/NumberItemAttributesExceeded'
      requestBody:
        content:
          text/xml:
            schema:
              $ref: '#/components/schemas/PutAttributesRequest'
      parameters:
      - name: Action
        in: query
        required: true
        schema:
          type: string
          enum:
          - PutAttributes
      - name: Version
        in: query
        required: true
        schema:
          type: string
          enum:
          - '2009-04-15'
      summary: Amazon P O S T_ Put Attributes
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      tags:
      - Amazon SimpleDB
  /#Action=Select:
    parameters:
    - $ref: '#/components/parameters/AWSAccessKeyId'
    - $ref: '#/components/parameters/Action'
    - $ref: '#/components/parameters/SignatureMethod'
    - $ref: '#/components/parameters/SignatureVersion'
    - $ref: '#/components/parameters/Timestamp'
    - $ref: '#/components/parameters/Version'
    - $ref: '#/components/parameters/Signature'
    get:
      x-aws-operation-name: Select
      operationId: GET_Select
      description: 'The Select operation returns a set of attributes for ItemNames that match the select expression. Select is similar to the standard SQL SELECT statement.


        The total size of the response cannot exceed 1 MB in total size. Amazon SimpleDB automatically adjusts the number of items returned per page to enforce this limit. For example, if the client asks to retrieve 2500 items, but each individual item is 10 kB in size, the system returns 100 items and an appropriate NextToken so the client can access the next page of results.


        For information on how to construct select expressions, see Using Select to Create Amazon SimpleDB Queries in the Developer Guide.'
      responses:
        '200':
          description: Success
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/SelectResult'
        '400':
          description: TooManyRequestedAttributes
          x-aws-exception: true
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/TooManyRequestedAttributes'
        '408':
          description: RequestTimeout
          x-aws-exception: true
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/RequestTimeout'
      parameters:
      - name: SelectExpression
        in: query
        required: true
        description: The expression used to query the domain.
        schema:
          type: string
      - name: NextToken
        in: query
        required: false
        description: A string informing Amazon SimpleDB where to start the next list of <code>ItemNames</code>.
        schema:
          type: string
      - name: ConsistentRead
        in: query
        required: false
        description: Determines whether or not strong consistency should be enforced when data is read from SimpleDB. If <code>true</code>, any data previously written to SimpleDB will be returned. Otherwise, results will be consistent eventually, and the client may not see data that was written immediately before your read.
        schema:
          type: boolean
      - name: Action
        in: query
        required: true
        schema:
          type: string
          enum:
          - Select
      - name: Version
        in: query
        required: true
        schema:
          type: string
          enum:
          - '2009-04-15'
      summary: Amazon G E T_ Select
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      tags:
      - Amazon SimpleDB
    post:
      x-aws-operation-name: Select
      operationId: POST_Select
      description: 'The Select operation returns a set of attributes for ItemNames that match the select expression. Select is similar to the standard SQL SELECT statement.


        The total size of the response cannot exceed 1 MB in total size. Amazon SimpleDB automatically adjusts the number of items returned per page to enforce this limit. For example, if the client asks to retrieve 2500 items, but each individual item is 10 kB in size, the system returns 100 items and an appropriate NextToken so the client can access the next page of results.


        For information on how to construct select expressions, see Using Select to Create Amazon SimpleDB Queries in the Developer Guide.'
      responses:
        '200':
          description: Success
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/SelectResult'
        '400':
          description: TooManyRequestedAttributes
          x-aws-exception: true
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/TooManyRequestedAttributes'
        '408':
          description: RequestTimeout
          x-aws-exception: true
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/RequestTimeout'
      requestBody:
        content:
          text/xml:
            schema:
              $ref: '#/components/schemas/SelectRequest'
      parameters:
      - name: NextToken
        in: query
        schema:
          type: string
        description: Pagination token
        required: false
      - name: Action
        in: query
        required: true
        schema:
          type: string
          enum:
          - Select
      - name: Version
        in: query
        required: true
        schema:
          type: string
          enum:
          - '2009-04-15'
      summary: Amazon P O S T_ Select
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      tags:
      - Amazon SimpleDB
components:
  schemas:
    BatchDeleteAttributesRequest:
      type: object
      required:
      - DomainName
      - Items
      title: BatchDeleteAttributesRequest
      properties:
        DomainName:
          allOf:
          - $ref: '#/components/schemas/String'
          - description: The name of the domain in which the attributes are being deleted.
        Items:
          allOf:
          - $ref: '#/components/schemas/DeletableItemList'
          - description: A list of items on which to perform the operation.
    DeletableAttribute:
      type: object
      required:
      - Name
      properties:
        Name:
          allOf:
          - $ref: '#/components/schemas/String'
          - description: The name of the attribute.
        Value:
          allOf:
          - $ref: '#/components/schemas/String'
          - description: The value of the attribute.
      description: ''
    DeletableItem:
      type: object
      required:
      - Name
      properties:
        Name:
          allOf:
          - $ref: '#/components/schemas/String'
          - xml:
              name: ItemName
        Attributes:
          $ref: '#/components/schemas/DeletableAttributeList'
    RequestTimeout:
      type: object
      properties:
        BoxUsage:
          $ref: '#/components/schemas/Float'
      description: A timeout occurred when attempting to query the specified domain with specified query expression.
    ListDomainsResult:
      type: object
      properties:
        DomainNames:
          allOf:
          - $ref: '#/components/schemas/DomainNameList'
          - description: A list of domain names that match the expression.
        NextToken:
          allOf:
          - $ref: '#/components/schemas/String'
          - description: An opaque token indicating that there are more domains than the specified <code>MaxNumberOfDomains</code> still available.
    DeleteDomainRequest:
      type: object
      required:
      - DomainName
      title: DeleteDomainRequest
      properties:
        DomainName:
          allOf:
          - $ref: '#/components/schemas/String'
          - description: The name of the domain to delete.
    DeleteAttributesRequest:
      type: object
      required:
      - DomainName
      - ItemName
      title: DeleteAttributesRequest
      properties:
        DomainName:
          allOf:
          - $ref: '#/components/schemas/String'
          - description: The name of the domain in which to perform the operation.
        ItemName:
          allOf:
          - $ref: '#/components/schemas/String'
          - description: The name of the item. Similar to rows on a spreadsheet, items represent individual objects that contain one or more value-attribute pairs.
        Attributes:
          allOf:
          - $ref: '#/components/schemas/DeletableAttributeList'
          - description: A list of Attributes. Similar to columns on a spreadsheet, attributes represent categories of data that can be assigned to items.
        Expected:
          allOf:
          - $ref: '#/components/schemas/UpdateCondition'
          - description: The update condition which, if specified, determines whether the specified attributes will be deleted or not. The update condition must be satisfied in order for this request to be processed and the attributes to be deleted.
    Item:
      type: object
      required:
      - Name
      - Attributes
      properties:
        Name:
          allOf:
          - $ref: '#/components/schemas/String'
          - description: The name of the item.
        AlternateNameEncoding:
          allOf:
          - $ref: '#/components/schemas/String'
          - description: ''
        Attributes:
          allOf:
          - $ref: '#/components/schemas/AttributeList'
          - description: A list of attributes.
      description: ''
    UpdateCondition:
      type: object
      properties:
        Name:
          allOf:
          - $ref: '#/components/schemas/String'
          - description: The name of the attribute involved in the condition.
        Value:
          allOf:
          - $ref: '#/components/schemas/String'
          - description: The value of an attribute. This value can only be specified when the <code>Exists</code> parameter is equal to <code>true</code>.
        Exists:
          allOf:
          - $ref: '#/components/schemas/Boolean'
          - description: A value specifying whether or not the specified attribute must exist with the specified value in order for the update condition to be satisfied. Specify <code>true</code> if the attribute must exist for the update condition to be satisfied. Specify <code>false</code> if the attribute should not exist in order for the update condition to be satisfied.
      description: ' Specifies the conditions under which data should be updated. If an update condition is specified for a request, the data will only be updated if the condition is satisfied. For example, if an attribute with a specific name and value exists, or if a specific attribute doesn''t exist. '
    GetAttributesRequest:
      type: object
      required:
      - DomainName
      - ItemName
      title: GetAttributesRequest
      properties:
        DomainName:
          allOf:
          - $ref: '#/components/schemas/String'
          - description: The name of the domain in which to perform the operation.
        ItemName:
          allOf:
          - $ref: '#/components/schemas/String'
          - description: The name of the item.
        AttributeNames:
          allOf:
          - $ref: '#/components/schemas/AttributeNameList'
          - description: The names of the attributes.
        ConsistentRead:
          allOf:
          - $ref: '#/components/schemas/Boolean'
          - description: Determines whether or not strong consistency should be enforced when data is read from SimpleDB. If <code>true</code>, any data previously written to SimpleDB will be returned. Otherwise, results will be consistent eventually, and the client may not see data that was written immediately before your read.
    ItemList:
      type: array
      items:
        allOf:
        - $ref: '#/components/schemas/Item'
        - xml:
            name: Item
      xml:
        wrapped: false
    ReplaceableAttributeList:
      type: array
      items:
        allOf:
        - $ref: '#/components/schemas/ReplaceableAttribute'
        - xml:
            name: Attribute
      xml:
        wrapped: false
    DomainMetadataResult:
      type: object
      properties:
        ItemCount:
          allOf:
          - $ref: '#/components/schemas/Integer'
          - description: The number of all items in the domain.
        ItemNamesSizeBytes:
          allOf:
          - $ref: '#/components/schemas/Long'
          - description: The total size of all item names in the domain, in bytes.
        AttributeNameCount:
          allOf:
          - $ref: '#/components/schemas/Integer'
          - description: The number of unique attribute names in the domain.
        AttributeNamesSizeBytes:
          allOf:
          - $ref: '#/components/schemas/Long'
          - description: The total size of all unique attribute names in the domain, in bytes.
        AttributeValueCount:
          allOf:
          - $ref: '#/components/schemas/Integer'
          - description: The number of all attribute name/value pairs in the domain.
        AttributeValuesSizeBytes:
          allOf:
          - $ref: '#/components/schemas/Long'
          - description: The total size of all attribute values in the domain, in bytes.
        Timestamp:
          allOf:
          - $ref: '#/components/schemas/Integer'
          - description: The data and time when metadata was calculated, in Epoch (UNIX) seconds.
    Float:
      type: number
      format: float
    AttributeDoesNotExist:
      type: object
      properties:
        BoxUsage:
          $ref: '#/components/schemas/Float'
      description: The specified attribute does not exist.
    ListDomainsRequest:
      type: object
      title: ListDomainsRequest
      properties:
        MaxNumberOfDomains:
          allOf:
          - $ref: '#/components/schemas/Integer'
          - description: The maximum number of domain names you want returned. The range is 1 to 100. The default setting is 100.
        NextToken:
          allOf:
          - $ref: '#/components/schemas/String'
          - description: A string informing Amazon SimpleDB where to start the next list of domain names.
    SelectRequest:
      type: object
      required:
      - SelectExpression
      title: SelectRequest
      properties:
        SelectExpression:
          allOf:
          - $ref: '#/components/schemas/String'
          - description: The expression used to query the domain.
        NextToken:
          allOf:
          - $ref: '#/components/schemas/String'
          - description: A string informing Amazon SimpleDB where to start the next list of <code>ItemNames</code>.
        ConsistentRead:
          allOf:
          - $ref: '#/components/schemas/Boolean'
          - description: Determines whether or not strong consistency should be enforced when data is read from SimpleDB. If <code>true</code>, any data previously written to SimpleDB will be returned. Otherwise, results will be consistent eventually, and the client may not see data that was written immediately before your read.
    SelectResult:
      type: object
      properties:
        Items:
          allOf:
          - $ref: '#/components/schemas/ItemList'
          - description: A list of items that match the select expression.
        NextToken:
          allOf:
          - $ref: '#/components/schemas/String'
          - description: An opaque token indicating that more items than <code>MaxNumberOfItems</code> were matched, the response size exceeded 1 megabyte, or the execution time exceeded 5 seconds.
    MissingParameter:
      type: object
      properties:
        BoxUsage:
          $ref: '#/components/schemas/Float'
      description: The request must contain the specified missing parameter.
    InvalidNextToken:
      type: object
      properties:
        BoxUsage:
          $ref: '#/components/schemas/Float'
      description: 'The specified NextToken is not valid. '
    DeletableItemList:
      type: array
      items:
        allOf:
        - $ref: '#/components/schemas/DeletableItem'
        - xml:
            name: Item
      xml:
        wrapped: false
    CreateDomainRequest:
      type: object
      required:
      - DomainName
      title: CreateDomainRequest
      properties:
        DomainName:
          allOf:
          - $ref: '#/components/schemas/String'
          - description: 'The name of the domain to create. The name can range between 3 and 255 characters and can contain the following characters: a-z, A-Z, 0-9, ''_'', ''-'', and ''.''.'
    Long:
      type: integer
    DomainMetadataRequest:
      type: object
      required:
      - DomainName
      title: DomainMetadataRequest
      properties:
        DomainName:
          allOf:
          - $ref: '#/components/schemas/String'
          - description: The name of the domain for which to display the metadata of.
    ReplaceableItemList:
      type: array
      items:
        allOf:
        - $ref: '#/components/schemas/ReplaceableItem'
        - xml:
            name: Item
      xml:
        wrapped: false
    Integer:
      type: integer
    Attribute:
      type: object
      required:
      - Name
      - Value
      properties:
        Name:
          allOf:
          - $ref: '#/components/schemas/String'
          - description: The name of the attribute.
        AlternateNameEncoding:
          allOf:
          - $ref: '#/components/schemas/String'
          - description: ''
        Value:
          allOf:
          - $ref: '#/components/schemas/String'
          - description: The value of the attribute.
        AlternateValueEncoding:
          allOf:
          - $ref: '#/components/schemas/String'
          - description: ''
      description: ''
    Boolean:
      type: boolean
    NumberSubmittedAttributesExceeded:
      type: object
      properties:
        BoxUsage:
          $ref: '#/components/schemas/Float'
      description: Too many attributes exist in a single call.
    NoSuchDomain:
      type: object
      properties:
        BoxUsage:
          $ref: '#/components/schemas/Float'
      description: The specified domain does not exist.
    AttributeList:
      type: array
      items:
        allOf:
        - $ref: '#/components/schemas/Attribute'
        - xml:
            name: Attribute
      xml:
        wrapped: false
    NumberDomainsExceeded:
      type: object
      properties:
        BoxUsage:
          $ref: '#/components/schemas/Float'
      description: Too many domains exist per this account.
    TooManyRequestedAttributes:
      type: object
      properties:
        BoxUsage:
          $ref: '#/components/schemas/Float'
      description: Too many attributes requested.
    DeletableAttributeList:
      type: array
      items:
        allOf:
        - $ref: '#/components/schemas/DeletableAttribute'
        - xml:
            name: Attribute
      xml:
        wrapped: false
    String:
      type: string
    GetAttributesResult:
      type: object
      properties:
        Attributes:
          allOf:
          - $ref: '#/components/schemas/AttributeList'
          - description: The list of attributes returned by the operation.
    BatchPutAttributesRequest:
      type: object
      required:
      - DomainName
      - Items
      title: BatchPutAttributesRequest
      properties:
        DomainName:
          allOf:
          - $ref: '#/components/schemas/String'
          - description: The name of the domain in which the attributes are being stored.
        Items:
          allOf:
          - $ref: '#/components/schemas/ReplaceableItemList'
          - description: A list of items on which to perform the operation.
    AttributeNameList:
      type: array
      items:
        allOf:
        - $ref: '#/components/schemas/String'
        - xml:
            name: AttributeName
      xml:
        wrapped: false
    ReplaceableItem:
      type: object
      required:
      - Name
      - Attributes
      properties:
        Name:
          allOf:
          - $ref: '#/components/schemas/String'
          - xml:
              name: ItemName
            description: The name of the replaceable item.
        Attributes:
          allOf:
          - $ref: '#/components/schemas/ReplaceableAttributeList'
          - description: The list of attributes for a replaceable item.
      description: ''
    DomainNameList:
      type: array
      items:
        allOf:
        - $ref: '#/components/schemas/String'
        - xml:
            name: DomainName
      xml:
        wrapped: false
    NumberItemAttributesExceeded:
      type: object
      properties:
        BoxUsage:
          $ref: '#/components/schemas/Float'
      description: Too many attributes in this item.
    ReplaceableAttribute:
      type: object
      required:
      - Name
      - Value
      properties:
        Name:
          allOf:
          - $ref: '#/components/schemas/String'
          - description: The name of the replaceable attribute.
        Value:
          allOf:
          - $ref: '#/components/schemas/String'
          - description: The value of the replaceable attribute.
        Replace:
          allOf:
          - $ref: '#/components/schemas/Boolean'
          - description: A flag specifying whether or not to replace the attribute/value pair or to add a new attribute/value pair. The default setting is <code>false</code>.
      description: ''
    PutAttributesRequest:
      type: object
      required:
      - DomainName
      - ItemName
      - Attributes
      title: PutAttributesRequest
      properties:
        DomainName:
          allOf:
          - $ref: '#/components/schemas/String'
          - description: The name of the domain in which to perform the operation.
        ItemName:
          allOf:
          - $ref: '#/components/schemas/String'
          - description: The name of the item.
        Attributes:
          allOf:
          - $ref: '#/components/schemas/ReplaceableAttributeList'
          - description: The list of attributes.
        Expected:
          allOf:
          - $ref: '#/components/schemas/UpdateCondition'
          - description: The update condition which, if specified, determines whether the specified attributes will be updated or not. The update condition must be satisfied in order for this request to be processed and the attributes to be updated.
  parameters:
    Action:
      name: Action
      in: query
      schema:
        type: string
      required: true
    AWSAccessKeyId:
      name: AWSAccessKeyId
      in: query
      schema:
        type: string
      required: true
    SignatureVersion:
      name: SignatureVersion
      in: query
      schema:
        type: string
      required: true
    Version:
      name: Version
      in: query
      schema:
        type: string
      required: true
    Timestamp:
      name: Timestamp
      in: query
      schema:
        type: string
      required: true
    SignatureMethod:
      name: SignatureMethod
      in: query
      schema:
        type: string
      required: true
    Signature:
      name: Signature
      in: query
      schema:
        type: string
      required: true
  securitySchemes:
    hmac:
      type: apiKey
      name: Authorization
      in: header
      description: Amazon Signature authorization v2
      x-amazon-apigateway-authtype: awsSigv2
externalDocs:
  description: Amazon Web Services documentation
  url: https://docs.aws.amazon.com/sdb/
x-hasEquivalentPaths: true
